@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(
    170deg,
    #0f1010 20%,
    #181819 50%,
    #161717 40%,
    #111112 80%,
    #101112 90%
  );
}

.btn-sm {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-sm:hover {
  border: 1px solid;
  box-shadow:
    inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.btn-new:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: -4px;
  right: -6px;
  transition: 0.5s;
  font-size: 25px;
}

.btn-new:hover {
  padding-right: 24px;
  padding-left: 8px;
}

.btn-new:hover:after {
  opacity: 1;
  right: 5px;
  color: black;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  border-radius: 100%;
  padding: 0 20px;
  background-repeat: no-repeat;
}

.swiper-pagination-bullet {
  padding: 5px;
  background-color: white !important;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}

.active {
  background-color: rgba(47, 252, 255, 0.245);
}
@layer base {
  .btn-sm {
    @apply text-[#cdcdd1] bg-[#252526] px-4 py-1 rounded-2xl items-center font-semibold capitalize;
  }
  .sort-btn {
    @apply capitalize font-semibold rounded-none px-1 lg:py-2;
  }
  .btn-shop {
    @apply border-2 border-orange-400 px-4 py-1 rounded-2xl items-center text-[#16494a] capitalize font-bold text-[15px] hover:text-orange-400 hover:border-amber-950 transition-all duration-700;
  }
}
